@model IEnumerable<StalTradeAPI.Dtos.ProductDto>

@{
    ViewData["Title"] = "Magazyn";
    Layout = "_UserLayout";
}

<h2 class="text-center">Magazyn</h2>
<div class="text-center">
    <div class="input-group search-input">
        <span class="input-group-text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <input class="form-control search-bar" type="text" id="searchInput" onkeyup="searchByName()" placeholder="Wyszukaj po numerze rysunku..">
    </div>
    @if (Model.Any())
    {
        <table id="search-table" class="display table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th hidden></th>
                    <th>Pozycja</th>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.StockStatus.PurchasedQuantity)</th>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.StockStatus.ActualQuantity)</th>
                    <th>+/-</th>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.StockStatus.SoldQuantity)</th>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.StockStatus.InStock)</th>
                    <th>
                        <div class="text-center">
                            @ViewData["PurchasedValue"]
                        </div>
                        @Html.DisplayNameFor(modelItem => modelItem.StockStatus.PurchasedValue)
                    </th>
                    <th>
                        <div class="text-center">
                            @ViewData["SoldValue"]
                        </div>
                        @Html.DisplayNameFor(modelItem => modelItem.StockStatus.SoldValue)
                    </th>
                    <th>
                        <div class="text-center">
                            @ViewData["MarginValue"]
                        </div>
                        @Html.DisplayNameFor(modelItem => modelItem.StockStatus.MarginValue)
                    </th>
                    <th>@Html.DisplayNameFor(modelItem => modelItem.StockStatus.Margin)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.StockStatusId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyDrawingNumber) - @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.PurchasedQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.ActualQuantity)
                        </td>
                        <td>
                            @((item.StockStatus.PurchasedQuantity - item.StockStatus.ActualQuantity).ToString())
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.SoldQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.InStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.PurchasedValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.SoldValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.MarginValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockStatus.Margin)%
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak produktów do wyświetlenia.</p>
    }
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/warehouse.js"></script>
        <script>
        var productList = @Html.Raw(Model);
        </script>
}
