@model StalTradeAPI.Dtos.InvoiceDto
@{
    var number = 0;
}
<div class="text-center">
    <h2>Dodaj fakturę</h2>
    <form id="invoicePurchaseForm" asp-controller="InvoiceUI" asp-action="AddPurchase" method="post" class="my-form wide-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="InvoiceDate" class="control-label"></label>
                    <input id="invoice-date" asp-for="InvoiceDate" class="form-control" type="date" onchange="enableCompany()" />
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="InvoiceNumber" class="control-label"></label>
                    <input id="invoice-number" asp-for="InvoiceNumber" class="form-control" />
                    <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="CompanyId" class="control-label"></label>
                    <select id="invoice-companyId" asp-for="CompanyId" class="form-control" onchange="updatePaymentDate()" disabled>
                        <option>Wybierz firmę</option>
                        @foreach (var company in ViewBag.Companies)
                        {
                            <option value="@company.CompanyID">@company.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="PaymentDate" class="control-label"></label>
                    <input id="invoice-payment-date" asp-for="PaymentDate" class="form-control" type="date" disabled/>
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label asp-for="Netto" class="control-label"></label> zł
                    <input id="invoice-netto" asp-for="Netto" class="form-control" type="number" step="0.01" disabled />
                    <span asp-validation-for="Netto" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Brutto" class="control-label"></label> zł
                    <input id="invoice-brutto" asp-for="Brutto" class="form-control" type="number" step="0.01" disabled />
                    <span asp-validation-for="Brutto" class="text-danger"></span>
                </div>
            </div>
        </div>    
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-dark" onclick="CloseForm()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
        <div id="product-entries text-center">
            <div class="product-entry">
                <label>Wybierz produkty zwiększając ilość:</label>
                <span asp-validation-for="ProductsList" class="text-danger"></span>
                <table id="product-table" class="display table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nazwa</th>
                            <th>Ilość</th>
                            <th>Jednostka miary</th>
                            <th>Cena netto zł</th>
                            <th>Suma brutto zł</th>
                            <th>VAT %</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < ViewBag.Products.Count; i++)
                        {
                            var product = ViewBag.Products[i];
                            <tr>
                                <input id="productId-@product.ProductId" class="form-control" type="number" name="ProductsList[@i].ProductId" value="@product.ProductId" hidden />
                                <td>
                                    <p>@product.CompanyDrawingNumber - @product.Name</p>
                                </td>
                                <td>
                                    <input name="ProductsList[@i].Quantity" id="product-quantity-@product.ProductId" type="number" oninput="updateBrutto(this)" class="form-control" min="0" step="1" value="0" />
                                </td>
                                <td>
                                    <p>@product.UnitOfMeasure</p>
                                </td>
                                <td>
                                    <input name="ProductsList[@i].Netto" value="@product.Prices[0].Netto" id="product-netto-@product.ProductId" type="number" class="form-control" min="0" step="0.01" placeholder="0" disabled />
                                </td>
                                <td>
                                    <input name="ProductsList[@i].Brutto" id="product-brutto-@product.ProductId" type="number" class="form-control" min="0" step="0.01" disabled value="0" />
                                </td>
                                <td id="product-vat-@product.ProductId">
                                    <p>@product.PurchaseVat</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

